body{
  background-color: gray;
  color: white;
  max-width: 800px;
  margin:auto;
}
header{
  text-align: center;
}

table{
  width: 800px;
  border: 1px solid;
}
th{
  width: 23.75%;
}
th.id{
  width: 5%
}

.red{
  background-color: red;
}