body{
  background-color: gray;
  color: white;
  max-width: 1000px;
  margin:auto;
}
header{
  text-align: center;
  padding-top: 50px;
}

th {
  background-color:black;
}

.delete-header{
  min-width: 95px;
  max-width: 95px;
}

.red{
  background-color: red;
}